<div><h2>Add a new gas definition</h2></div>
<%= form_with scope: :gas, url: gases_path, local: true do |form| %>
<% if @gas.errors.any? %>
    <div id="error_explanation">
        <h3>
            <%= pluralize(@gas.errors.count, "error") %> prohibited this gas from being saved:
        </h3>
        <ul>
            <% @gas.errors.full_messages.each do |msg| %>
            <li><%= msg %></li>
            <% end %>
        </ul>
    </div>
<% end %>

<div>
    <%= form.label :name, 'Name for gas' %><br>
    <%= form.text_field :name %>
</div>
<div>
    <%= form.label :description, 'Short description' %><br>
    <%= form.text_area :description, size: "50x5" %>
</div>
<div><%= form.label :specific_gravity, 'Specific Gravity' %><br><%= form.text_field :specific_gravity %></div>
<div><%= form.label :h2s, 'H2S content (fraction)' %><br><%= form.text_field :h2s, :value=>'0.0' %></div>    
<div><%= form.label :co2, 'CO2 content (fraction)' %><br><%= form.text_field :co2, :value=>'0.0' %></div>    
<div><%= form.label :n2, 'N2 content (fraction)' %><br><%= form.text_field :n2, :value=>'0.0' %></div>
</div>
<div>
    <%= form.submit %>
</div>

<%= link_to 'Back', root_path %>
<% end %>